* {
  margin: 0;
  padding: 0;
  /* background-color: whitesmoke; */
}

:root {
  --header-colour: #ABB8C3;
  --footer-bg: #1B2642;
}

.active {
  color: black;
}

body {
  background-color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  letter-spacing: .08em;
}

/* ============== HEADER SECTION =========== */

header {
  background-color: white;
  height: 150px;
  border-bottom: solid rgb(41, 38, 38) .5px;
  text-transform: uppercase;
  padding: 0 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  padding: 3px;
  margin: 5px;
  width: 150px;
}

nav li {
  list-style: none;
  display: inline-flex;
}

a {
  text-decoration: none;
  color: darkgray;
}

a:hover {
  color: black;
}

/* ============== FIRST ONE SECTION =============*/

h1 {
  color: var(--header-colour);
  text-align: center;
  padding: 5px;
  margin: 5px;
}

h2 {
  text-align: center;
  padding: 5px;
  margin: .5em;
  text-transform: capitalize;
}

.content-home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}

.left-part img {
  width: 100%;
}

.left-part p span {
  color: cornflowerblue;
}

.image-one {
  display: block;
}

.with-picture {
  margin-top: 20px;
  padding: 0 20px;
}

/* ================ MODULE CONTENT =============== */

.modules,
.contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 20px;
}

.module-box {
  margin-top: 50px;
  /* border-bottom: .9px solid #1B2642; */
  text-align: center;
  background-color: rgb(199, 169, 65);
  height: 100px;
  width: 600px;
  border-radius: 10px;
}

.module-box:hover {
  box-shadow: 0 5px 15px #1B2642;
  cursor: pointer;
}

.module-names {
  line-height: 50px;
  color: white;
  font-size: 25px;
  font-weight: 700;
}

/* ================ CONTACT US ================= */

.contact-details {
  line-height: 50px;
}

.contact-info,
.contact-info a {
  color: cornflowerblue;
}

/* ================ FOOTER SECTION =============== */

footer {
  color: whitesmoke;
  background-color: cornflowerblue;
  text-align: center;
  font-weight: 500;
}

/* =========== MOBILE ACCESSIBILITY ================ */

@media (max-width: 600px) {

  header {
    height: 100px;
  }

  nav img {
    width: 80px;
  }

  nav li {
    display: inline-block;
    font-size: 16px;
    white-space: nowrap;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  .bottom-top {
    display: flex;
    flex-direction: column-reverse;
  }

  .other-part {
    display: flex;
    flex-direction: column;
  }

  .content-home p {
    padding: .5em;
    text-align: justify;
  }

  .module-box {
    width: 90%;
  }

  p {
    font-size: 15px;
  }
}